* {
  /* [base/reset] */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  /* [base/reset] */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.header__head1 {
  /* [base/typography] */
  font-size: 1.535rem;
  text-align: center;
  font-weight: 200;
  opacity: 0.7;
}
@media screen and (min-width: 69.375em) {
  .header__head1 {
    font-size: 2.5rem;
  }
}

.header__head2 {
  /* [base/typography] */
  font-size: 1.535rem;
  text-align: center;
  opacity: 0.7;
}
@media screen and (min-width: 69.375em) {
  .header__head2 {
    font-size: 2.5rem;
  }
}

.header__txt {
  /* [base/typography] */
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  color: #a3a5ae;
}
@media screen and (min-width: 50em) {
  .header__txt {
    width: 56ch;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 69.375em) {
  .header__txt {
    font-size: 1.2rem;
  }
}

.card {
  /* [components/card] */
  background: white;
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 9px 30px -10px;
}
.card__head {
  /* [components/card] */
  font-size: 1.3rem;
}
.card__txt {
  /* [components/card] */
  font-size: 0.9rem;
  color: #a3a5ae;
  margin-top: 0.4rem;
  line-height: 2;
}
.card img {
  /* [components/card] */
  width: 55px;
  height: 55px;
  margin-top: 2.2rem;
  align-self: flex-end;
}

.super {
  /* [components/card] */
  border-top: 5px #45d3d3 solid;
}

.team {
  /* [components/card] */
  border-top: 5px #ea5353 solid;
}

.karma {
  /* [components/card] */
  border-top: 5px #fcaf4a solid;
}

.calc {
  /* [components/card] */
  border-top: 5px #549ef2 solid;
}

.super,
.team,
.karma,
.calc {
  /* [components/card] */
  border-radius: 6px;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 2.375rem;
  font-weight: 500;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 69.375em) {
  /* [layouts/footer] */
  .attribution {
    text-align: center;
    margin-top: 2.375rem;
    font-weight: 500;
  }

  a {
    text-decoration: none;
  }
}
body {
  /* [pages/home] */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 5rem 1.5rem;
}
@media screen and (min-width: 69.375em) {
  body {
    /* [pages/home] */
    margin: 0;
  }
}

.grid-container {
  /* [pages/home] */
  color: #4c4e61;
  margin-top: 4.375rem;
  /* [pages/home] */
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.25rem;
  gap: 1.25rem;
}
@media screen and (min-width: 50em) {
  .grid-container {
    /* [pages/home] */
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 69.375em) {
  .grid-container {
    /* [pages/home] */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2.125rem;
  }
}

@media screen and (min-width: 69.375em) {
  /* [pages/home] */
  body {
    justify-content: center;
    align-items: center;
  }

  .main-container {
    max-width: 1200px;
  }

  .super {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .team {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .calc {
    grid-column: 3/4;
    grid-row: 2/4;
  }

  .karma {
    grid-column: 2/3;
    grid-row: 3/5;
  }
}

/*# sourceMappingURL=index.css.map */
