// all styles reset
*{
    /* [base/reset] */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

// all styles before and after reset
*,
*::before,
*::after{
    /* [base/reset] */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}