@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

$loc : "[base/typography]";

.header__head1{
    /* #{$loc} */
    font-size: 1.535rem;
    text-align: center;
    font-weight: 200;
    @include color-get(color,Neutral,vr-dar-bl);
    opacity: 0.7;

    @include respond-to("large"){
        font-size: 2.5rem;
    }

}

.header__head2{
    /* #{$loc} */
    font-size: 1.535rem;
    text-align: center;
    @include color-get(color,Neutral,vr-dar-bl);
    opacity: 0.8;

    @include respond-to("large"){
        font-size: 2.5rem;
    }
}

.header__txt{
    /* #{$loc} */
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    @include color-get(color,Neutral,gr-bl);

    @include respond-to("medium"){
        width: 56ch;
        margin-left: auto;
        margin-right: auto;
    }

    @include respond-to("large"){
        font-size: 1.2rem;
    }
}