@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

$loc : "[pages/home]";

body{
    /* #{$loc} */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 5rem 1.5rem;

    @include respond-to("large"){
        /* #{$loc} */
        margin: 0;
    }
}

.grid-container{
    /* #{$loc} */
    @include color-get(color,Neutral,vr-dar-blu);
    margin-top: pxCon(70,rem);
    @include grid-set-sm();

    @include respond-to("medium"){
        /* #{$loc} */
        @include grid-set-me();
    }

    @include respond-to("large"){
        /* #{$loc} */
        @include grid-set-lar();
    }
}

@include respond-to("large"){
    /* #{$loc} */
    body{
        justify-content: center;
        align-items: center;
    }
    .main-container{
        max-width: 1200px;
    }

    .super{
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .team{
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .calc{
        grid-column: 3/4;
        grid-row: 2/4;
    }

    .karma{
        grid-column: 2/3;
        grid-row: 3/5;
    }


}